common/build
.gradle
/run/
/*/run/
/*/build/
build/

/fabric/src/main/resources/rpmtw_platform_mod.accesswidener
/quilt/src/main/resources/rpmtw_platform_mod.accesswidener

.architectury-transformer/
.idea